      /* Basic Reset */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: aliceblue;
        color: #333;
    }
    
   /* Navbar */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: white;
}

.navbar h2 {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}
    
    /* Hero Section */
    .hero {
        text-align: center;
        padding: 2rem;
        background-color: #f1f1f1;
    }
    
    .hero h1 {
        color: blueviolet;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    
    .hero p {
        font-size: 1.2rem;
        color: #666;
    }
    
    /* Content Section */
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* padding: 2rem; */
    }
    
    .content-box {
        background-color: white;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 1rem;
        width: 100%;
        max-width: 450px;
        text-align: center;
    }
    
    .content-box h3 {
        margin-top: 1rem;
        color: crimson;
        margin-bottom: 0.5rem;
    }

    .content-box img {
        height: 250px;
    }
    
    /* Footer */
    footer {
        background-color: wheat;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }
    
    /* Responsive Design */
    @media (min-width: 768px) {
        .content {
            justify-content: space-between;
            padding: 2rem;
        }
        .content-box {
            width: 45%;
        }

        .content-box img {
            height: 200px;
        }
    }
    
    @media (min-width: 1024px) {

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 2rem;
        }

        .hero h1 {
            font-size: 2.5rem;
        }
        .hero p {
            font-size: 1.5rem;
        }
    }